.active{
    background-color: rgb(12, 120, 50);
    color: #ffffff;
}
button{
    /* background-color: rgb(29, 202, 90); */
    border: none;
    width: 84px;
    height: 72px;
}
a{
    text-decoration: none;
    color: #686868;
    height: 72px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #c7c7c7;
    height: 72px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.leftLink{
    color: rgb(29, 202, 90);
    font-size: 32px;
}